@use '../../styles/colors.scss';

.cell {  
  flex: 0 0 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  padding-left: 2px;
  background-color: white;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: colors.$dark-gray;

  font-weight: 600;
  color: colors.$text-cells;
  line-height: 1.6rem;

  user-select: none;
}

.head {
  justify-content: center;
  font-weight: 700;
  position: relative; /* To position handles. */

  background-color: colors.$base-gray;
  color: colors.$text-labels;
}

.selected {
  border: 2px solid colors.$selection-outline;
}

.multiselected {
  background-color: colors.$selection-bg; // TBD
  &Top { border-top: 1px solid colors.$selection-outline; }
  &Bottom { border-bottom: 1px solid colors.$selection-outline; }
  &Left { border-left: 1px solid colors.$selection-outline; }
  &Right { border-right: 1px solid colors.$selection-outline; }
}