@use '../../styles/colors.scss';
@use '../../styles/variables.scss';

.scrollbar {
  padding: 4px;
  background-color: colors.$base-gray;
}

.handle {
  position: relative;
  background-color: colors.$darker-gray;

  &:hover {
    background-color: colors.$text-labels;
  }
}


.horizontal {
  @extend .scrollbar;

  flex: 1 0 auto;
  height: variables.$right-margin; // equalized to vertical bar.

  border-top: 1px solid colors.$dark-gray;

  .handle {
    height: 100%;
  }

}

.vertical {
  @extend .scrollbar;

  flex: 0 0 auto;
  width: variables.$right-margin;

  border-left: 1px solid colors.$dark-gray;

  .handle {
    width: 100%;
  }
}
