@use '../../styles/colors.scss';
@use '../../styles/variables.scss';

$padding: 4px;

.scrollbar {
  padding: $padding;
  background-color: colors.$base-gray;
  box-sizing: content-box;
}

.handle {
  position: relative;
  background-color: colors.$darker-gray;

  &:hover {
    background-color: colors.$text-labels;
  }
}


.x {
  @extend .scrollbar;

  flex: 1 0 auto;
  height: variables.$right-margin - (2 * $padding + 2); // equalized to y bar.

  border-top: 1px solid colors.$dark-gray;
  border-bottom: 1px solid colors.$dark-gray;

  .handle {
    height: 100%;
  }

}

.y {
  @extend .scrollbar;

  flex: 1 0 auto;
  width: variables.$right-margin - (2 * $padding + 1);

  border-left: 1px solid colors.$dark-gray;

  .handle {
    width: 100%;
  }
}

.jump {
  transition-property: top, left;
  transition-duration: 0.2s;
  transition-timing-function: easy-out;
}