.popupContainer {

  .popup {
    display: none;
  }

  .popupActive {
    display: block;
    position: absolute;
    z-index: 100;

    /* Dummy styles -- will be dynamic. */
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
  }
}
