@use '../../styles/colors.scss';
@use '../../styles/variables.scss';

.sheetBar {
  flex: 0 0 content;

  height: 50px;
  background-color: colors.$dark-gray;

  display: flex;
}

.addButton {
  flex: 0 0 auto;

  width: variables.$left-margin;
  height: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: colors.$text-labels;
    font-weight: 500;
    font-size: 32px;
  }
}

.sheetSelector {
  flex: 0 0 content;

  background-color: colors.$base-gray;
  color: colors.$text-labels;
  font-weight: 600;
  cursor: pointer;

  padding-left: 14px;
  padding-right: 14px;
  margin-left: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  &Active {
    @extend .sheetSelector;
    background-color: transparent;
    color: colors.$text-headings;
    cursor: default;
  }

}
