@use '../../styles/colors.scss';
@use '../../styles/variables.scss';

.sheetBar {
  flex: 0 0 content;

  height: 50px;
  background-color: colors.$dark-gray;

  display: flex;
}

.addButton {
  flex: 0 0 auto;

  width: variables.$left-margin;
  height: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    user-select: none;
    color: colors.$text-labels;
    font-weight: 500;
    font-size: 32px;
  }
}

.selectorsContainer {
  display: flex;
}

.sheetSelector {
  flex: 0 0 content;

  background-color: transparent;
  color: colors.$text-cells;
  font-weight: 600;
  cursor: pointer;
  user-select: none;

  padding-left: 14px;
  padding-right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  &:not(:first-child) {
    margin-left: 2px;
  }

  &Active {
    @extend .sheetSelector;
    background-color: colors.$base-gray;
    cursor: default;
  }

}
