// Base colors.
$base-gray: #F5F6F7;
$dark-gray: #E8E8E8;
$darker-gray: #DBDBDB;
$shadow-gray: rgba(0, 0, 0, 0.25);
$text-headings: #333333;
$text-labels: #B5B5B5;
$text-cells: #666666;
$selection-outline: #5304B8;
$selection-bg: #cba3ff15;