@use '../../styles/colors.scss';
@use '../../styles/variables.scss';

.hScrollbar {
  flex: 1 0 auto;
  height: variables.$right-margin; // equalized to vertical bar.
  padding: 4px;
  background-color: colors.$base-gray;
  border-top: 1px solid colors.$dark-gray;
}

.handle {
  background-color: colors.$darker-gray;
  height: 100%;
  width: 200px; /* Will be dynamic. */
}

.handle:hover {
  background-color: colors.$text-labels;
}