@use '../../styles/colors.scss';
@use '../../styles/variables.scss';

.vScrollbar {
  flex: 0 0 auto;
  
  width: variables.$right-margin;
  padding: 4px;

  background-color: colors.$base-gray;
  border-left: 1px solid colors.$dark-gray;
}

.handle {
  background-color: colors.$darker-gray;
  width: 100%;
  height: 200px; /* Will be dynamic. */
}

.handle:hover {
  background-color: colors.$text-labels;
}