.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}

.header {
  flex: 0 0 content;

  /* Test sizing/color. */
  flex: 0 0 auto;
  height: 100px;
  background-color: #ccc;
}

.footer {
  flex: 0 0 content;

  /* Test sizing/color. */
  flex: 0 0 auto;
  height: 50px;
  background-color: #ccc;
}